{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}" style="color:white">Main Page</a>
        </nav>
    </header>
    <main>
    <h1> Edit {{ recipe_object.id }}</h1>

    {% comment %} {{ recipe.title }} {% endcomment %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button>Save</button>
</form>
    </main>
{% endblock content %}
