a{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav" class="#text-color-nav">
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a Recipe</a>
            <a href="{% url 'my_recipe_list' %}">My Recipes</a>

        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up!</a>
            <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
        </nav>
    </header>
    <main class="main">
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="containerGrid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <img src="{{ recipe.picture }}" class="img">
            <div>4.3 stars</div>
        </div>
        {% empty %}
            <p>There are no recipes here, please add one.</p>
        {% endfor %}
    </div>
    </main>
{% endblock content %}
