/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  body {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 16px;
  }

  footer {
    padding: 24px 0px;
  }

  img {
    height: 200px;
  }

  nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
    color: blanchedalmond;
  }

  .containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  a {
    color: darkgreen;
    text-decoration: none;
  }

  h1 {
    color: darkgreen;
  }

  #text-color-nav {
    color: white;
  }

  footer {
    background-color: #a9df7d;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
  }

  .striped-table tr:nth-child(even) {
    background-color: darkgray;
  }
